//! **************************************************************************
// Written by: Map P.20131013 on Mon May 11 09:51:13 2015
//! **************************************************************************

SCHEMATIC START;
COMP "USR_CLK" LOCATE = SITE "E25" LEVEL 1;
COMP "USR_RX_RE" LOCATE = SITE "M26" LEVEL 1;
COMP "USR_RX_RV" LOCATE = SITE "R26" LEVEL 1;
COMP "USR_TX_WE" LOCATE = SITE "AB25" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "A18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "A19" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "B19" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C19" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "A20" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "B20" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "B21" LEVEL 1;
COMP "REG_DI" LOCATE = SITE "J25" LEVEL 1;
COMP "REG_DO" LOCATE = SITE "J26" LEVEL 1;
COMP "USR_ACTIVE" LOCATE = SITE "N26" LEVEL 1;
COMP "CMDDCI_0n" LOCATE = SITE "A7" LEVEL 1;
COMP "CMDDCI_1n" LOCATE = SITE "B4" LEVEL 1;
COMP "CMDDCI_0p" LOCATE = SITE "B7" LEVEL 1;
COMP "CMDDCI_2n" LOCATE = SITE "G2" LEVEL 1;
COMP "CMDDCI_1p" LOCATE = SITE "C4" LEVEL 1;
COMP "CMDDCI_3n" LOCATE = SITE "C1" LEVEL 1;
COMP "CMDDCI_2p" LOCATE = SITE "F2" LEVEL 1;
COMP "CMDDCI_3p" LOCATE = SITE "D1" LEVEL 1;
COMP "USR_RX_RD<0>" LOCATE = SITE "R25" LEVEL 1;
COMP "USR_RX_RD<1>" LOCATE = SITE "N24" LEVEL 1;
COMP "USR_RX_RD<2>" LOCATE = SITE "P26" LEVEL 1;
COMP "USR_RX_RD<3>" LOCATE = SITE "T24" LEVEL 1;
COMP "USR_RX_RD<4>" LOCATE = SITE "U26" LEVEL 1;
COMP "USR_RX_RD<5>" LOCATE = SITE "U25" LEVEL 1;
COMP "USR_RX_RD<6>" LOCATE = SITE "U24" LEVEL 1;
COMP "USR_RX_RD<7>" LOCATE = SITE "P25" LEVEL 1;
COMP "USR_RX_EMPTY" LOCATE = SITE "M25" LEVEL 1;
COMP "USR_TX_AFULL" LOCATE = SITE "AB26" LEVEL 1;
COMP "DOBOUT_0n" LOCATE = SITE "C8" LEVEL 1;
COMP "DOBOUT_1n" LOCATE = SITE "D6" LEVEL 1;
COMP "DOBOUT_0p" LOCATE = SITE "D8" LEVEL 1;
COMP "DOBOUT_2n" LOCATE = SITE "B2" LEVEL 1;
COMP "DOBOUT_1p" LOCATE = SITE "D5" LEVEL 1;
COMP "DOBOUT_3n" LOCATE = SITE "E1" LEVEL 1;
COMP "DOBOUT_2p" LOCATE = SITE "B1" LEVEL 1;
COMP "DOBOUT_3p" LOCATE = SITE "E2" LEVEL 1;
COMP "USR_TX_WD<0>" LOCATE = SITE "Y25" LEVEL 1;
COMP "USR_TX_WD<1>" LOCATE = SITE "AA25" LEVEL 1;
COMP "USR_TX_WD<2>" LOCATE = SITE "V26" LEVEL 1;
COMP "USR_TX_WD<3>" LOCATE = SITE "W26" LEVEL 1;
COMP "USR_TX_WD<4>" LOCATE = SITE "W25" LEVEL 1;
COMP "USR_TX_WD<5>" LOCATE = SITE "Y26" LEVEL 1;
COMP "USR_TX_WD<6>" LOCATE = SITE "L24" LEVEL 1;
COMP "USR_TX_WD<7>" LOCATE = SITE "K26" LEVEL 1;
COMP "USR_CLOSE_ACK" LOCATE = SITE "P24" LEVEL 1;
COMP "USR_CLOSE_REQ" LOCATE = SITE "T25" LEVEL 1;
COMP "REFCLK_0n" LOCATE = SITE "C7" LEVEL 1;
COMP "REFCLK_1n" LOCATE = SITE "A3" LEVEL 1;
COMP "REFCLK_0p" LOCATE = SITE "C6" LEVEL 1;
COMP "REFCLK_2n" LOCATE = SITE "F4" LEVEL 1;
COMP "REFCLK_1p" LOCATE = SITE "A2" LEVEL 1;
COMP "REFCLK_3n" LOCATE = SITE "C3" LEVEL 1;
COMP "REFCLK_2p" LOCATE = SITE "F5" LEVEL 1;
COMP "REFCLK_3p" LOCATE = SITE "C2" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "E12" LEVEL 1;
COMP "NIM_OUT<0>" LOCATE = SITE "A13" LEVEL 1;
COMP "NIM_OUT<1>" LOCATE = SITE "A12" LEVEL 1;
COMP "REG_ACT" LOCATE = SITE "D25" LEVEL 1;
COMP "REG_CLK" LOCATE = SITE "D26" LEVEL 1;
PIN REG_CLK_pin<0> = BEL "REG_CLK" PINNAME PAD;
PIN "REG_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN
        U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<31>
        = BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16"
        PINNAME CLKBL;
PIN
        U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<81>
        = BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16"
        PINNAME REGCLKBL;
PIN icmd/i_cmd_seq_core/Mram_cmd_mem_ren_pins<25> = BEL
        "icmd/i_cmd_seq_core/Mram_cmd_mem_ren" PINNAME CLKBL;
PIN icmd/i_cmd_seq_core/Mram_cmd_mem_ren_pins<48> = BEL
        "icmd/i_cmd_seq_core/Mram_cmd_mem_ren" PINNAME REGCLKBL;
TIMEGRP D_CLK = BEL "icmd/i_cmd_seq_core/CMD_CLK_FORWARDING_INST_3" BEL
        "icmd/i_cmd_seq_core/MANCHESTER_CODE_INST_3" BEL
        "icmd/i_cmd_seq_core/CMD_CLK_FORWARDING_INST_2" BEL
        "icmd/i_cmd_seq_core/MANCHESTER_CODE_INST_2" BEL
        "icmd/i_cmd_seq_core/CMD_CLK_FORWARDING_INST_1" BEL
        "icmd/i_cmd_seq_core/MANCHESTER_CODE_INST_1" BEL
        "icmd/i_cmd_seq_core/CMD_CLK_FORWARDING_INST_0" BEL
        "icmd/i_cmd_seq_core/MANCHESTER_CODE_INST_0" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_31" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_30" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_29" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_27" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_26" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_28" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_25" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_24" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_22" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_21" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_23" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_20" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_19" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_17" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_16" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_18" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_15" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_14" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_12" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_11" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_13" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_10" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_9" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_7" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_6" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_8" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_5" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_4" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_2" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_1" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_3" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_0" BEL "icmd/i_cmd_seq_core/cnt_15"
        BEL "icmd/i_cmd_seq_core/cnt_14" BEL "icmd/i_cmd_seq_core/cnt_13" BEL
        "icmd/i_cmd_seq_core/cnt_12" BEL "icmd/i_cmd_seq_core/cnt_11" BEL
        "icmd/i_cmd_seq_core/cnt_10" BEL "icmd/i_cmd_seq_core/cnt_9" BEL
        "icmd/i_cmd_seq_core/cnt_8" BEL "icmd/i_cmd_seq_core/cnt_7" BEL
        "icmd/i_cmd_seq_core/cnt_6" BEL "icmd/i_cmd_seq_core/cnt_5" BEL
        "icmd/i_cmd_seq_core/cnt_4" BEL "icmd/i_cmd_seq_core/cnt_3" BEL
        "icmd/i_cmd_seq_core/cnt_2" BEL "icmd/i_cmd_seq_core/cnt_1" BEL
        "icmd/i_cmd_seq_core/cnt_0" BEL "icmd/i_cmd_seq_core/state_FSM_FFd1"
        BEL "icmd/i_cmd_seq_core/cmd_data_pos" BEL
        "icmd/i_cmd_seq_core/cmd_data_neg" BEL
        "icmd/i_cmd_seq_core/send_word_7" BEL
        "icmd/i_cmd_seq_core/send_word_6" BEL
        "icmd/i_cmd_seq_core/send_word_5" BEL
        "icmd/i_cmd_seq_core/send_word_4" BEL
        "icmd/i_cmd_seq_core/send_word_3" BEL
        "icmd/i_cmd_seq_core/send_word_2" BEL
        "icmd/i_cmd_seq_core/send_word_1" BEL
        "icmd/i_cmd_seq_core/send_word_0" BEL "icmd/i_cmd_seq_core/CMD_READY"
        BEL "icmd/i_cmd_seq_core/END_SEQ_REP" BEL
        "icmd/i_cmd_seq_core/cmd_start_flag_domain_crossing/SYNC_CLK_B_2" BEL
        "icmd/i_cmd_seq_core/cmd_start_flag_domain_crossing/Mshreg_SYNC_CLK_B_1"
        BEL "icmd/i_cmd_seq_core/cmd_start_flag_domain_crossing/SYNC_CLK_B_1"
        BEL "icmd/i_cmd_seq_core/done_pulse_sync/in_pre_sync_0" BEL
        "icmd/i_cmd_seq_core/done_pulse_sync/in_pre_sync_1" BEL
        "icmd/i_cmd_seq_core/done_pulse_sync/in_sync_pulse" BEL
        "icmd/i_cmd_seq_core/done_pulse_sync/Mshreg_aq_sync_ff_1" BEL
        "icmd/i_cmd_seq_core/done_pulse_sync/aq_sync_ff_1" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_2" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_2" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_0" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_0" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_1" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_1" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_5" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_5" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_3" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_3" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_4" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_4" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_8" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_8" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_6" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_6" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_7" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_7" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_11" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_11" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_9" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_9" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_10" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_10" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_14" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_14" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_12" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_12" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_13" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_13" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/Mshreg_OUT_15" BEL
        "icmd/i_cmd_seq_core/stop_repeat_sync/OUT_15" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_0" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_0" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_3" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_3" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_1" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_1" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_2" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_2" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_6" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_6" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_4" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_4" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_5" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_5" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_9" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_9" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_7" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_7" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_8" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_8" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_12" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_12" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_10" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_10" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_11" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_11" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_15" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_15" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_13" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_13" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/Mshreg_OUT_14" BEL
        "icmd/i_cmd_seq_core/start_repeat_sync/OUT_14" BEL
        "icmd/i_cmd_seq_core/cmd_rst_flag_domain_crossing/SYNC_CLK_B_2" BEL
        "icmd/i_cmd_seq_core/cmd_rst_flag_domain_crossing/Mshreg_SYNC_CLK_B_1"
        BEL "icmd/i_cmd_seq_core/cmd_rst_flag_domain_crossing/SYNC_CLK_B_1"
        BEL "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_1" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_1" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_0" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_0" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_4" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_4" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_2" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_2" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_3" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_3" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_7" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_7" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_5" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_5" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_6" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_6" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_10" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_10" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_8" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_8" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_9" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_9" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_13" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_13" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_11" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_11" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_12" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_12" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_14" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_14" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/Mshreg_OUT_15" BEL
        "icmd/i_cmd_seq_core/cmd_size_sync/OUT_15" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_0" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_0" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_3" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_3" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_1" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_1" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_2" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_2" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_6" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_6" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_4" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_4" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_5" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_5" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_9" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_9" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_7" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_7" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_8" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_8" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_12" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_12" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_10" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_10" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_11" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_11" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_15" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_15" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_13" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_13" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_14" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_14" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_18" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_18" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_16" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_16" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_17" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_17" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_21" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_21" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_19" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_19" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_20" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_20" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_24" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_24" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_22" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_22" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_23" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_23" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_27" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_27" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_25" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_25" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_26" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_26" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_30" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_30" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_28" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_28" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_29" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_29" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/Mshreg_OUT_31" BEL
        "icmd/i_cmd_seq_core/repeat_cnt_sync/OUT_31" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_OREG.I_YES_OREG.U_OREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/I_MC_NO.U_NO_MC_REG"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_CAP_DLY"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/F_NO_TCMC.U_FDR" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[3].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[2].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[1].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[0].U_TQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.FF"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[1].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[2].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[4].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[1].U_FD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[2].U_FD"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[7].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[6].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[5].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[4].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[3].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[2].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[1].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[0].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_POR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/FINAL_FDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[15].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[14].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[13].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[12].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[11].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[10].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[9].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[8].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[7].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[6].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[5].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[4].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[3].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[2].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[1].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_SRL.U_FDR0"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_GEN_DELAY[1].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_RISING" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_ECR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_FULL" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_TRIGGER" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_ARM" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STATE0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STATE1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[0].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[1].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[2].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[3].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[4].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[5].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[6].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[7].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[8].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[9].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_CR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL3" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL2" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_WHOLE_SLICE.G_SLICE_IDX[0].U_GAND_SRL_SLICE/I_IS_TERMINATION_SLICE_NE0.I_USE_OUTPUT_REG_NE0.U_OREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY2[0].I_IN_RANGE.U_GAND_DLY2"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY2[1].I_IN_RANGE.U_GAND_DLY2"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY2[2].I_IN_RANGE.U_GAND_DLY2"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY2[3].I_IN_RANGE.U_GAND_DLY2"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY1[0].I_IN_RANGE.I_USE_INPUT_REG_NE0.U_GAND_DLY1"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY1[1].I_IN_RANGE.I_USE_INPUT_REG_NE0.U_GAND_DLY1"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY1[2].I_IN_RANGE.I_USE_INPUT_REG_NE0.U_GAND_DLY1"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/G_GAND_DLY1[3].I_IN_RANGE.I_USE_INPUT_REG_NE0.U_GAND_DLY1"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[9].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[9].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[9].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[9].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_YESLUT6.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_YESLUT6.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_YESLUT6.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE1"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE0"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_SCNT_CMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_LCMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_HCMP_Q" PIN
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<31>"
        PIN
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<81>"
        PIN "icmd/i_cmd_seq_core/Mram_cmd_mem_ren_pins<25>" PIN
        "icmd/i_cmd_seq_core/Mram_cmd_mem_ren_pins<48>";
PIN
        U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<30>
        = BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16"
        PINNAME CLKAL;
PIN
        U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<80>
        = BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16"
        PINNAME REGCLKAL;
TIMEGRP J_CLK = BEL "U_icon_pro/U0/U_ICON/U_TDI_reg" BEL
        "U_icon_pro/U0/U_ICON/U_TDO_reg" BEL
        "U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_USE_SOFTBSCAN_EQ0.I_USE_XST_TCK_WORKAROUND_EQ1.U_ICON_BSCAN_BUFG/U_BUFG"
        BEL "U_icon_pro/U0/U_ICON/U_SYNC/U_SYNC" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[0].I_NE0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[1].I_NE0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[2].I_NE0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[3].I_NE0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[4].I_NE0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[5].I_NE0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_SYNC/G_SYNC_WORD[6].I_EQ0.U_FDR" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[6].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[7].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[8].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[9].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[10].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[11].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[12].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[13].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[14].I_NE0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_CMD/G_TARGET[15].I_EQ0.U_TARGET" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_STAT_CNT/G[5].U_FDRE" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_STAT_CNT/G[4].U_FDRE" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_STAT_CNT/G[3].U_FDRE" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_STAT_CNT/G[2].U_FDRE" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_STAT_CNT/G[1].U_FDRE" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_STAT_CNT/G[0].U_FDRE" BEL
        "U_icon_pro/U0/U_ICON/U_STAT/U_TDO" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/I_SINGLE_ROW.U_RD_COL_ADDR_DLY/G_REG_BIT[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/I_SINGLE_ROW.U_RD_COL_ADDR_DLY/G_REG_BIT[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/I_SINGLE_ROW.U_RD_COL_ADDR_DLY/G_REG_BIT[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_NMU_EQ1.U_iDOUT/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_NMU_EQ1.U_iDOUT/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RD_ROW_ADDR/G[9].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/I_SINGLE_ROW.U_RD_COL_ADDR/u_cnt/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/I_SINGLE_ROW.U_RD_COL_ADDR/u_cnt/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/I_SINGLE_ROW.U_RD_COL_ADDR/u_cnt/G[2].U_FDRE"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_TFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_TFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/S0_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[1].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[2].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[3].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[4].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[5].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[6].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[7].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[8].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[9].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[10].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[11].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[12].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[13].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[14].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[15].SI_CFG/I_YESLUT6.U_SRLC16E"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[9].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[8].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[7].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[6].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[5].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[4].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[3].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[2].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[1].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STAT_CNT/G[0].U_FDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_RESET_EDGE/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_RESET_EDGE/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_RESET_EDGE/I_H2L.U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_TFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_TDO" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DIRTY_FDPE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DIRTY_FDCE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_WHOLE_SLICE.G_SLICE_IDX[0].U_GAND_SRL_SLICE/U_SRLD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_WHOLE_SLICE.G_SLICE_IDX[0].U_GAND_SRL_SLICE/U_SRLC"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_WHOLE_SLICE.G_SLICE_IDX[0].U_GAND_SRL_SLICE/U_SRLB"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_CS_GANDX.U_CS_GANDX_SRL/I_V5.U_CS_GANDX_SRL_V5/U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_WHOLE_SLICE.G_SLICE_IDX[0].U_GAND_SRL_SLICE/U_SRLA"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[0].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[1].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[2].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[3].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[4].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[5].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[6].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[7].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[8].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[9].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[10].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[11].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[12].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[13].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[14].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.F_SEL[15].U_SEL"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_0_TO_64K.I_SRL.U_SELX"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_SCNT_CMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_SCNT_CMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLC"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_SCNT_CMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLB"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_SCNT_CMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLA"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_HCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_HCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLC"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_HCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLB"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_HCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLA"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_LCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_LCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLC"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_LCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLB"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/U_WCNT_LCMP/I_CS_GAND.U_CS_GAND_SRL/I_V5.U_CS_GAND_SRL_V5/I_USE_RPM_NE0.U_GAND_SRL_SET/I_PARTIAL_SLICE.U_GAND_SRL_SLICE/U_SRLA"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_SCMPCE/I_YESLUT6.U_SRL32"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_WLCMPCE/I_YESLUT6.U_SRL32"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_WHCMPCE/I_YESLUT6.U_SRL32"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_YESLUT6.I_YES_RPM.U_SRL32_B"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_YESLUT6.I_YES_RPM.U_SRL32_A"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_SCRST/I_YESLUT6.I_YES_RPM.U_SRL32_B"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_SCRST/I_YESLUT6.I_YES_RPM.U_SRL32_A"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CMPRESET/I_YESLUT6.I_YES_RPM.U_SRL32_B"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CMPRESET/I_YESLUT6.I_YES_RPM.U_SRL32_A"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_YESLUT6.I_YES_RPM.U_SRL32_D"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_YESLUT6.I_YES_RPM.U_SRL32_C"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_YESLUT6.I_YES_RPM.U_SRL32_B"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_YESLUT6.I_YES_RPM.U_SRL32_A"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_YESLUT6.I_YES_RPM.U_SRL32_D"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_YESLUT6.I_YES_RPM.U_SRL32_C"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_YESLUT6.I_YES_RPM.U_SRL32_B"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_YESLUT6.I_YES_RPM.U_SRL32_A"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_WCE/I_YESLUT6.U_SRLC16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_SCE/I_YESLUT6.U_SRLC16E"
        PIN
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<30>"
        PIN
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V5.U_CS_BRAM_CASCADE_V5/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B18KGT0.u_ramb16/U_RAMB16_pins<80>";
TIMEGRP U_CLK = BEL "U_icon_pro/U0/U_ICON/U_iDATA_CMD";
TIMEGRP D2_CLK = BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DIRTY_LDC";
TIMEGRP "FFS" = FFS(*);
PATH TS_D2_TO_T2_ila_pro_0_path = FROM TIMEGRP "D2_CLK" TO TIMEGRP "FFS";
PATH "TS_D2_TO_T2_ila_pro_0_path" TIG;
PATH TS_J2_TO_D2_ila_pro_0_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J2_TO_D2_ila_pro_0_path" TIG;
PATH TS_J3_TO_D2_ila_pro_0_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J3_TO_D2_ila_pro_0_path" TIG;
PATH TS_J4_TO_D2_ila_pro_0_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J4_TO_D2_ila_pro_0_path" TIG;
TS_J_CLK = PERIOD TIMEGRP "J_CLK" 30 ns HIGH 50%;
TS_U_TO_J = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "J_CLK" 15 ns;
TS_U_TO_U = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "U_CLK" 15 ns;
PATH TS_J_TO_D_path = FROM TIMEGRP "J_CLK" TO TIMEGRP "D_CLK";
PATH "TS_J_TO_D_path" TIG;
PATH TS_D_TO_J_path = FROM TIMEGRP "D_CLK" TO TIMEGRP "J_CLK";
PATH "TS_D_TO_J_path" TIG;
PIN
        U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_V5.ISYN.I_USE_SOFTBSCAN_EQ0.U_BS_pins<2>
        = BEL
        "U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_V5.ISYN.I_USE_SOFTBSCAN_EQ0.U_BS"
        PINNAME SHIFT;
PIN
        "U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_V5.ISYN.I_USE_SOFTBSCAN_EQ0.U_BS_pins<2>"
        TIG;
SCHEMATIC END;

